@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   font-size: 18px;
   line-height: 32px;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
}

input {
   outline: none;
   width: 100%;
   border: 2px solid #274C5B;
   border-radius: 16px;
   padding: 15px 0 15px 40px;
}

h1,
h2 {
   margin: 0;
   padding: 0;
}

input:focus,
textarea:focus {
   border: 2px solid #30bdf0;
}

.ant-image-preview-img {
   height: 80vh;
}

.container {
   max-width: 1380px;
   width: 85%;
   margin: 0 auto;
}

#root {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}


.main {
   flex: 1 1 auto;
   padding-bottom: 80px;
}

.main .title {
   color: #274C5B;
   font-size: 45px;
   line-height: 58px;
   font-weight: 700;
   text-transform: capitalize;
   text-align: center;
   padding: 15px 0 50px 0;
}

.logo {
   max-width: 200px;
}

.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   display: none;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   pointer-events: none;
   transition: .5s all;
}

.modal.active {
   opacity: 1;
   transition: .5s all;
   pointer-events: all;
}

.modal__wrapper {
   padding: 25px;
   border-radius: 20px;
   width: 50%;
   background-color: #fff;
   scale: 0;
   transition: .4s;
   position: relative;
}

.modal__wrapper.active {
   scale: 1;
   transition: .5s;
}

.button {
   color: #fff;
   text-transform: capitalize;
   background-color: #274C5B;
   border: 0px solid transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: 160px;
   height: 60px;
   border-radius: 16px;
   cursor: pointer;
   transition: .3s;
   scale: 1;
}

.button:hover {
   scale: 1.07;
   transition: .3s;
}

.button:active {
   scale: 0.95;
   transition: .1s;
   background-color: #13bf1c;
}

.button-back {
   color: #fff;
   text-transform: capitalize;
   background-color: #525C60;
   border: 0px solid transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: 160px;
   height: 60px;
   border-radius: 16px;
   cursor: pointer;
   transition: .3s;
}

.button-back:hover {
   scale: 1.07;
   transition: .3s;
}

.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form__items {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.form__item {
   width: 100%;
   margin-bottom: 30px;
}

.form__name {
   color: #274C5B;
   font-weight: 700;
   text-transform: capitalize;
}

.loader {
   font-size: 10px;
   margin: 50px auto;
   text-indent: -9999em;
   width: 11em;
   height: 11em;
   border-radius: 50%;
   background: #15e538;
   background: -moz-linear-gradient(left, #15e538 10%, rgba(21, 229, 56, 0) 42%);
   background: -webkit-linear-gradient(left, #15e538 10%, rgba(21, 229, 56, 0) 42%);
   background: -o-linear-gradient(left, #15e538 10%, rgba(21, 229, 56, 0) 42%);
   background: -ms-linear-gradient(left, #15e538 10%, rgba(21, 229, 56, 0) 42%);
   background: linear-gradient(to right, #15e538 10%, rgba(21, 229, 56, 0) 42%);
   position: relative;
   -webkit-animation: load3 1.4s infinite linear;
   animation: load3 1.4s infinite linear;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
}

.loader:before {
   width: 50%;
   height: 50%;
   background: #15e538;
   border-radius: 100% 0 0 0;
   position: absolute;
   top: 0;
   left: 0;
   content: '';
}

.loader:after {
   background: #ffffff;
   width: 75%;
   height: 75%;
   border-radius: 50%;
   content: '';
   margin: auto;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

@-webkit-keyframes load3 {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes load3 {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}