@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   font-size: 18px;
   line-height: 32px;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}


html,
body {
   height: 100%;
}

.container {
   max-width: 1380px;
   width: 85%;
   margin: 0 auto;
}

#root {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex: 1 1 auto;
}

.main .title {
   color: #274C5B;
   font-size: 45px;
   line-height: 58px;
   font-weight: 700;
   text-transform: capitalize;
   text-align: center;
   margin: 30px 0 87px 0;
}

.logo {
   max-width: 200px;
}

.button {
   color: #fff;
   text-transform: capitalize;
   background-color: #274C5B;
   border: 0px solid transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: 160px;
   height: 60px;
   border-radius: 16px;
   cursor: pointer;
}

.button-back {
   color: #fff;
   text-transform: capitalize;
   background-color: #525C60;
   border: 0px solid transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: 160px;
   height: 60px;
   border-radius: 16px;
   cursor: pointer;
}

.loader {
   font-size: 10px;
   margin: 50px auto;
   text-indent: -9999em;
   width: 11em;
   height: 11em;
   border-radius: 50%;
   background: #15e538;
   background: -moz-linear-gradient(left, #15e538 10%, rgba(21, 229, 56, 0) 42%);
   background: -webkit-linear-gradient(left, #15e538 10%, rgba(21, 229, 56, 0) 42%);
   background: -o-linear-gradient(left, #15e538 10%, rgba(21, 229, 56, 0) 42%);
   background: -ms-linear-gradient(left, #15e538 10%, rgba(21, 229, 56, 0) 42%);
   background: linear-gradient(to right, #15e538 10%, rgba(21, 229, 56, 0) 42%);
   position: relative;
   -webkit-animation: load3 1.4s infinite linear;
   animation: load3 1.4s infinite linear;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
}

.loader:before {
   width: 50%;
   height: 50%;
   background: #15e538;
   border-radius: 100% 0 0 0;
   position: absolute;
   top: 0;
   left: 0;
   content: '';
}

.loader:after {
   background: #ffffff;
   width: 75%;
   height: 75%;
   border-radius: 50%;
   content: '';
   margin: auto;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

@-webkit-keyframes load3 {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes load3 {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}