.cart__cart {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.button__shop.button {
   margin-top: 50px;
}

.cart__item {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   width: 50%;
   justify-content: start;
   padding: 0 20px 0 0;
}

.cart__item:last-child {
   justify-content: space-between;
   padding: 0 0 0 20px;
}

.cart__ant-image {
   width: 100%;
}

.cart__image {
   max-width: 200px;
}

.cart__wrap {
   padding-left: 20px;
   display: flex;
   flex-direction: column;
}

.cart__title {
   color: #274C5B;
   font-weight: 700;
   font-size: 32px;
   text-transform: capitalize;
}

.cart__description {
   max-width: 400px;
   line-height: 26px;
   margin: 10px 0;
}

.cart__price,
.cart__cart-price {
   font-size: 20px;
   color: #274C5B;
   font-weight: 700;
   text-transform: uppercase;
}

.cart__delete-btn {
   background-color: transparent;
   border: 1px solid transparent;
}

.cart__total {
   display: flex;
   justify-content: center;
   align-items: center;
}

.cart__full-price {
   font-size: 20px;
   color: #274C5B;
   font-weight: 700;
   text-transform: capitalize;
}

.cart__full-price span {
   text-transform: uppercase;
}

.fa.fa-trash-o {
   font-size: 38px;
   cursor: pointer;
   transition: .7s;
}

.fa.fa-trash-o:hover {
   color: #f00;
   transition: .2s;
   scale: 1.15;
}

.cart__count-down,
.cart__count-up {
   border-radius: 50%;
   border: 1px solid #525C60;
   background-color: #274C5B;
   cursor: pointer;
}

.fa.fa-plus,
.fa.fa-minus {
   color: #fff;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .3s;
}

.fa.fa-plus:hover,
.fa.fa-minus:hover {
   width: 42px;
   height: 42px;
   transition: .3s;
}

.fa.fa-plus:active,
.fa.fa-minus:active {
   width: 38px;
   height: 38px;
   transition: .15s;
}

.cart__cart-count-number {
   font-size: 20px;
   color: #525C60;
   margin: 0 10px;
}

.cart__empty {
   color: #525C60;
   font-size: 32px;
   text-align: center;
}

.cart__empty-btn.button {
   margin-top: 40px;
}

.cart__total {
   display: flex;
   justify-content: center;
   align-items: center;
}

.cart__full-price {
   max-width: 175px;
   width: 100%;
   margin-right: 50px;
}

.cart__buttons {
   display: flex;
   justify-content: center;
   align-items: center;
}

.cart__btn-delivery.button {
   margin-right: 25px;
}

.cart__btn-pay.button {
   margin-left: 25px;
}

.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   display: none;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   pointer-events: none;
   transition: .5s all;
}

.modal.active {
   opacity: 1;
   transition: .5s all;
   pointer-events: all;
}

.modal__wrapper {
   padding: 25px;
   border-radius: 20px;
   width: 50%;
   background-color: #fff;
   scale: 0;
   transition: .4s;
   position: relative;
}

.modal__wrapper.active,
.modal__wrapper.active {
   scale: 1;
   transition: .5s;
}

.modal__title {
   color: #274C5B;
   font-weight: 700;
   font-size: 36px;
   text-align: center;
   text-transform: capitalize;
}

.modal__btn-out {
   font-size: 24px;
   cursor: pointer;
   position: absolute;
   right: 10px;
   top: 5px;
   scale: 0.9;
   transition: .3s;
}

.modal__btn-out:hover {
   scale: 1.1;
   transition: .3s;
   color: #f00;
}