@media(max-width:1024px) {
   .cart__cart:not(:last-child) {
      margin-bottom: 20px;
   }
}

@media(max-width:768px) {
   .modal__delivery-title {
      margin-bottom: 20px;
   }
}

@media(max-width:425px) {

   .cart__btn-delivery.button,
   .cart__btn-pay.button {
      height: 55px;
      width: 140px;
   }

   .modal__delivery-title {
      margin-bottom: 10px;
      font-size: 28px;
   }

   .form__button.button {
      max-width: 140px;
      max-height: 55px;
      margin-top: 10px;
   }
}