@media(max-width:960px) {
   .categories__item {
      width: calc(50% - 30px);
   }
}

@media(max-width:768px) {
   .categories__item {
      width: calc(50% - 20px);
   }
}

@media(max-width:630px) {
   .categories__item {
      width: 100%;
   }
}