.footer {
   padding-bottom: 100px;
}

.footer__info,
.footer__description,
.footer__page {
   font-family: 'Open Sans', sans-serif;
}

.footer__items {
   display: flex;
   justify-content: center;
   font-size: 30px;
   line-height: 42px;
}

.footer__item.contacts {
   width: 100%;
}

.footer__title {
   font-size: 30px;
   line-height: 42px;
   color: #274C5B;
   text-transform: capitalize;
   margin-bottom: 20px;
}

.footer__contacts-information {
   text-align: right;
   padding-right: 20px;
   border-right: 1px solid #D5D5D5;
}

.contacts .footer__title {
   margin-bottom: 35px;
}

.footer__info:not(:last-child) {
   margin-bottom: 40px;
}

.footer__subtitle {
   color: #525C60;
   line-height: 23px;
   font-weight: 700;
   text-transform: capitalize;
   margin-bottom: 5px;
}

.footer__info a {
   color: #525C60;
}


.icons {
   text-align: center;
   max-width: 670px;
   padding: 0 50px;
}

.footer__logo {
   margin: 0 auto;
}

.footer__description {
   color: #525C60;
   max-width: 625px;
   margin: 45px 0 50px 0;
}

.footer__icons {
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer__icon a {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   height: 60px;
   background-color: #EFF6F1;
   border-radius: 50%;
   transition: .5s;
}

.footer__icon a:hover {
   background-color: #25c495;
   scale: 1.05;
   transition: .15s;
}

.footer__icon a:active {
   background-color: #25c495;
   scale: 0.95;
   transition: .15s;
}

.footer__icon:not(:last-child) {
   margin-right: 20px;
}

.utility {
   text-align: left;
   padding-left: 20px;
   border-left: solid 1px #D5D5D5;
}

.utility .footer__title {
   margin-bottom: 20px;
}

.footer__link {
   color: #525C60;
}

.footer__page {
   text-transform: capitalize;
}

.footer__page:not(:last-child) {
   margin-bottom: 25px;
}