.welcome {
   margin-bottom: 50px;

   @media(max-width:575px) {
      margin-bottom: 10px;
   }

   .title {
      color: #274C5B;
      font-family: 'Roboto';
      font-size: 45px;
      line-height: 58px;
      margin-bottom: 20px;
      margin: 0 auto 30px;
      text-align: center;
      max-width: 600px;

      @media(max-width:575px) {
         font-size: 28px;
         line-height: 42px;
         margin-bottom: 25px;
      }
   }

   .subtitle {
      margin: 0 auto;
      text-align: center;
      font-family: 'Open Sans';

      @media(max-width:980px) {
         text-align: left;
      }
   }
}