.about__wrapper * {
   font-family: 'Open Sans';
   color: #525C60;
}

.about__block-inform {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}

.about__image img {
   width: 100%;
}

.about__welcome {
   margin-bottom: 50px;
}

.about__welcome-title {
   color: #274C5B;
   font-family: 'Roboto';
   font-size: 45px;
   line-height: 58px;
   margin-bottom: 20px;
   margin: 0 auto 30px;
   text-align: center;
   max-width: 600px;
}

.about__welcome-subtitle {
   margin: 0 auto;
   text-align: center;
}

.about__items {
   width: calc(50% - 30px);
   max-width: 600px;
}

.about__item {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}


.description__image {
   margin-right: 40px;
}

.description__item {
   margin-bottom: 30px;
}

.description__title {
   font-family: 'Roboto';
   font-size: 25px;
   line-height: 35px;
   color: #274C5B;
}